body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: #212121;
}

input { 
  width: 350px;
  height: 20px;
  border-radius: .5pc;
}


.flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  }

  .command-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    }

.flex-item:nth-child(1) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  }

.flex-item:nth-child(2) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  }

  .commandBox{
    
    width: 400px;
    color: #ffff;
    background: #1da2b4;
    border-width: thick;
    border-style: solid;
    border-color: #1da2b4;
    border-radius: .3pc;
    margin-bottom: 200px;
    margin-top: 200px;
   
  
  }

  .user-box {
    padding-bottom: 33px;
    
  }

  .radio-items{
    border-bottom: solid;
    border-color: silver;
    border-width: thick;

  }



  .navbarbox{

    display: flex;
    flex-direction: row;
    color: lightskyblue;
    background: #212121;
    justify-content: center;
    position: fixed;
    width: 100%;


  }

  .navbaritem{
    margin: 20px;
    font-size: 25px;
    height: 100%;
    width: 100%;
    
    

  }

  .navbaritem:hover{
    margin: 20px;
    font-size: 25px;
    background: grey;
    cursor: pointer;
    

  }

  .primaryDiv{
    display: flex;
    flex-direction: column;
  }

  .displaycontainer{
    display:flex;
    flex-direction:row;
    justify-content:center;
   
  }

  .informationbox{
    color: white;
   
  }

  .cardBox{
    padding: 100px;
    color: white;

  }


textarea::-webkit-scrollbar {
    width: 1em;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

textarea::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.testtextarea {
  outline: none;
  resize: none;
  height: 300px;
  width: 500px;
  color: black;
  background: grey;
}